<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
<!-- >>> title >>> -->
Ships
<!-- <<< title <<< -->
    </title>
	  <link rel="stylesheet" type="text/css" href="../../s/css/th-bright.css">
	  <link rel="stylesheet" type="text/css" href="../../s/css/bcp.css">
    <script src="../../s/js/vue.js"></script>
<!-- >>> style >>> -->
    <style>
main table {
	width: 100%;
  padding: 0 1em;
}
main th {
	text-align: left;
	padding-top: .2em;
}
main tbody th {
  color: var(--colFgr);
	background-color: var(--colBkg);
	cursor: pointer;
}
main tbody td {
  background-color: var(--colBkgDim);
  padding: .3em .7em;
  padding-top: 0;
}
main tbody tr.open th {
  background-color: var(--colBkgDim)
}
div.details {
  display: flex;
  flex-wrap: wrap;
}
.details > div {
  background-color: var(--colBkg);
  margin-right: .5em;
  margin-bottom: .5em;
  padding: 0.3em 0.8em;
}
.details > div:last-child { margin-right: 0; }
.details h1 { margin: 0; font-size: 100%; }
table.modules td {
  background-color: var(--colBkg);
  margin: 0;
  padding: 0 .2em;
  vertical-align: top;
}
table.modules td:last-child {
    color: var(--colGud);
    text-align: center;
}
table.modules div.engy {
    font-size: 90%;
    color: var(--colGud);
}
    </style>
<!-- <<< style <<< -->
  </head>
  <body>
    <header>
      <div id="hdrCmd">John Doe</div>
      <div id="hdrShp">Ship Name [Ident]</div>
      <div id="hdrHSy">System</div><div id="hdrSys">System</div>
      <div id="hdrHRf">Reference</div><div id="hdrRef">RefType: Reference</div>
      <div id="hdrHVc">Vehicle</div><div id="hdrVhc">Type</div>
      <div id="hdrHMd">Mode</div><div id="hdrMod">mode</div>
      <div id="hdrAlt" v-if="hdr.Loc.sc">Alt: x</div>
      <div id="hdrCoo" v-if="hdr.Loc.sc">x.yy / y.xx</div>
    </header>
<!-- >>> main >>> -->
    <main>
      <table>
		<thead>
          <tr><th></th>
			<th>Model</th><th>Name</th><th>Ident</th>
			<th>Max. Jump</th><th>Cargo</th><th>Rebuy</th>
			<th>Docked</th>
          </tr>
		</thead>
		<tbody v-for="ship in Ships" :key="ship.Id">
		  <tr v-bind:class="{open:showDetails(ship.Id)}">
			<th v-if="showDetails(ship.Id)" style="text-align: center"
          v-on:click="toggleDetails(ship.Id)">▾</th>
			<th v-else style="text-align: center"
          v-on:click="toggleDetails(ship.Id)">▸</th>
			<th>{{ship.Type|shipTyNm}}</th>
			<th>“{{ship.Name}}”</th>
			<th>[{{ship.Ident}}]</th>
			<th>{{ship.MaxJump|f2}} Ly</th>
			<th></th>
			<th></th>
			<th v-if="ship.Berth.Sys.Addr==0">–</th>
			<th v-else>{{ship.Berth.Port}} / {{ship.Berth.Sys.Name}}
			({{sysDist(header("Loc").Sys.Coos, ship.Berth.Sys.Coos)|f2}} Ly)</th>
		  </tr>
		  <tr v-if="showDetails(ship.Id)"><td colspan="8">
			  <div class="details">
				<div>
				  <h1>Core Modules</h1>
				  <table class="modules">
					<tr>
					  <td colspan="2">{{ship.Alloy.Rating|alloyNm}}</td>
					  <td><span v-if="ship.Alloy.Blueprint">⬡</span>
						<div v-if="ship.Alloy.EngyLevel" class="engy">{{ship.Alloy.EngyLevel}}</div>
					  </td>
					</tr>
					<tr v-for="(m, i) in ship.Core" :key="i">
					  <td>{{m.Size}}{{m.Rating|modRating}}</td>
					  <td>{{coreName(i)}}
	      				<div v-if="m.Blueprint" class="engy">{{m.Blueprint}}</div>
					  </td>
					  <td><span v-if="m.Blueprint">⬡</span>
						<div v-if="m.EngyLevel" class="engy">{{m.EngyLevel}}</div>
					  </td>	      
					</tr>
				  </table>
				</div>
				<div>
				  <h1>Optional Modules</h1>
				  <table class="modules">
					<tr v-for="(m, i) in ship.Opt" :key="i">
					  <td v-if="m.Name">{{m.Size}}{{m.Rating|modRating}}</td>
					  <td v-else>–</td>
					  <td v-if="m.Name">{{m.Name|moduleNm}}
						<div v-if="m.Blueprint" class="engy">{{m.Blueprint}}</div>
					  </td>
					  <td v-else>–</td>
					  <td v-if="m.Name"><span v-if="m.Blueprint">⬡</span>
						<div v-if="m.EngyLevel" class="engy">{{m.EngyLevel}}</div>
					  </td>
					  <td v-else></td>
					</tr>
				  </table>
				</div>
				<div>
				  <h1>Hardpoints</h1>
				  <table class="modules" v-if="weaps(ship)">
					<tr v-for="(m, i) in weaps(ship)" :key="i">
					  <td>{{m.Size}} {{m.Name}}</td>
					  <td v-if="m.Blueprint">⬡</td>
					  <td v-else></td>
					</tr>
				  </table>
				  <div v-else>– empty –</div>
				  <h1>Utility Mounts</h1>
				  <table class="modules" v-if="utils(ship)">
					<tr v-for="(m, i) in utils(ship)" :key="i">
					  <td>M{{i+1}} {{m.Name}}</td>
					  <td v-if="m.Blueprint">⬡</td>
					  <td v-else></td>
					</tr>
				  </table>
				  <div v-else>– empty –</div>
				</div>
			  </div>
		  </td></tr>
		</tbody>
      </table>
    </main>
    <script src="../../s/js/ships.js"></script>
    <script src="../../s/l10n/en/modules.js"></script>
    <script>
const alloyNms = [
    "Lightweight Alloy",
    "Reinforced Alloy",
    "Military Grade Composite",
    "Mirrored Grade Composite",
    "Reactive Grade Composite"
];
const coreNms = [
    "Powerplant",
    "Thrusters",
    "Frame Shift Drive",
    "Life Support",
    "Power Distributor",
    "Sensors",
    "Fuel Tank"
];
Vue.filter('alloyNm', function(a) {
    var res = alloyNms[a];
    if (!res) { res = "<"+a+">"; }
    return res;
});
const modRatings = ["E","D","C","B","A"];
Vue.filter('modRating', function(r) {
    if (r == 0) { return " "; }
    var res = modRatings[r-1];
    if (!res) { res = "<"+(r-1)+">"; }
    return res;
});
var shipsApp = new Vue({
    el: "main",
    data: {
		Ships: `data`,
		show: {}
    },
    methods: {
		showDetails: function(shipid) {
			var res = this.show[shipid];
			if (res) {
				return res;
			} else {
				Vue.set(this.show, shipid, false);
			}
			return false;
		},
		toggleDetails: function(shipid) {
			var flag = this.showDetails(shipid);
			this.show[shipid] = !flag;
			console.log("toggle:"+this.show);
		},
		coreName: function(idx) { return coreNms[idx]; },
		utils: function(ship) {
			if (!ship.Mount[0]) { return null; }
			var res = [];
			for (var u of ship.Mount[0]) {
				if (u.Name) res.push(u);
			}
			return res.length == 0 ? null : res;
		},
		weaps: function(ship) {
			var res = [];
			for (var m = 1; m < 5; m++) {
				if (!ship.Mount[m]) { continue; }
				for (var w of ship.Mount[m]) {
					if (w.Name)	res.push(w);
				}
			}
			return res.length == 0 ? null : res;
		},
		header: function(what) {
			return scrnApp.$root.$data["hdr"][what];
		},
		sysDist: function(s1, s2) {
			var dx=s1[0]-s2[0], dy=s1[1]-s2[1], dz=s1[2]-s2[2];
			return Math.sqrt(dx*dx + dy*dy + dz*dz);
		}
    }
})
    </script>
<!-- <<< main <<< -->
  </body>
</html>
