<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
<!-- >>> title >>> -->
Travel
<!-- <<< title <<< -->
	</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../s/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../s/css/th-bright.css">
    <link rel="stylesheet" type="text/css" href="../../s/css/bcp.css">
    <script src="../../s/js/vue.js"></script>
	<!-- >>> style >>> -->
	<style>
#tmap {
	display: block;
	margin: 0 auto;
	border: 2px solid var(--colFgrDim);
	background-image: url("/s/img/mway.jpg");
	background-size: 300px 300px;
	background-repeat: no-repeat;
	background-color: black;
}
	</style>
<!-- <<< style <<< -->
  </head>
  <body>
    <div id="vue-app">
      <header>
		<img id="hdrLgo" src="/s/img/Logo.png" alt="logo">
		<div id="hdrCmd">CMDR {{hdr.Name}}</div>
		<div id="hdrShp">{{hdr.Ship.Name}} [{{hdr.Ship.Ident}}]</div>
		<div id="hdrLoc"><span v-if="hdr.Loc.RefNm">{{hdr.Loc.RefNm}}
		/ </span>{{hdr.Loc.SysNm}}</div>
      </header>
      <nav>
	<div id="mbtn">
	  <span v-if="ctrl.showMenu"
		v-on:click="ctrl.showMenu=false">⨯</span>
	  <span v-else v-on:click="ctrl.showMenu=true">☰</span>
	</div>
	<div v-for="tab in tabs" :key="tab.key"
	     v-bind:class="{current: tab.key == activeTab}">
	  <span v-if="tab.key == activeTab">{{tab.title}}</span>
	  <span v-else><a :href="tab.url">{{tab.title}}</a></span>
	</div>
      </nav>
      <transition name="menu">
	<aside v-show="ctrl.showMenu">
	  <div>Settings…</div>
	  <div><a href="/s/debug/log.html"
			  target="bcplog"
			  v-on:click="ctrl.showMenu=false">Show log…</a></div>
	  <div>Quit</div>
	</aside>
      </transition>
    </div>
	<script>
if (!window["WebSocket"]) {
	console.log("browser does not support web sockets");
}
const locRTyNm = ["?", "Deep Space", "Star", "Belt", "Planet",
				  "Ring", "Station", "Outpost", "Port", "Settlement", "Jump Target"];
const locModeNm = ["?", "Parked", "Travel", "Super Cruise", "FSD Jump"];
const locVhclNm = ["?", "Ship", "SRV", "Fighter", "Crew Member"];
Vue.filter('int', function(x) {
    return x.toLocaleString('`lang\jsStr`',{
      useGrouping: true
    });
});
Vue.filter('f4', function(x) {
    return x.toLocaleString('`lang\jsStr`',{
      useGrouping: true,
      minimumIntegerDigits: 1,
      minimumFractionDigits: 4,
      maximumFractionDigits: 4
    });
});
Vue.filter('f2', function(x) {
    return x.toLocaleString('`lang\jsStr`',{
      useGrouping: true,
      minimumIntegerDigits: 1,
      minimumFractionDigits: 2,
      maximumFractionDigits: 2
    });
});
var scrnApp = new Vue({
  el: '#vue-app',
  data: {
	  ctrl: { showMenu: false },
	  activeTab: 'travel',
	  tabs: {
		"key": "travel",
		"title": "Travel",
		"url": "/travel"
	  },
	  hdr: {
		  Name: "–",
		  Ship: {Name: "–", Ident: "–"},
		  Loc: {}
	  }
	},
	filters: {
	    refTy: function(v) {
			var res = locRTyNm[v];
			return res ? res : "("+v+")";
		},
		modNm: function(v) { return locModeNm[v]; },
		vhcNm: function(v) { return locVhclNm[v]; },
		frac: function(v) {
			return v.toLocaleString('`lang\jsStr`');
		}
	},
	methods: {
		onMsg: function(evt) {
			switch (evt.Cmd) {
			case "upd":
				if (evt.Hdr) {
					this.hdr = evt.Hdr;
				}
				break;
			}
		}
	}
});
	</script>
<!-- >>> main >>> -->
	  <main>
		<trvlmap ref="tmap" :size="300" :hbar="50"></trvlmap>
	  </main>
	  <script>
Vue.component('trvlmap', {
	props: {
		size: Number,
		hbar: Number
	},
	template: '<canvas id="tmap" :width="(2*size)+hbar" :height="size"></canvas>',
	computed: {
		g2: function() {
			var canvas = this.$el;
			return canvas.getContext("2d");
		}
	},
	methods: {
		draw: function(lx, ly, lz) {
			const sd2 = this.size/2;
			const scale = this.size/25000;
			var sx = sd2+scale*lx;
			var sy = .8*this.size+scale*ly;
			var sz = sd2-(sd2/3500)*lz;
			var g2 = this.g2;
			g2.font="14px Arial";
			g2.strokeStyle = "#ff8800";
			g2.shadowColor = "black";
			g2.shadowBlur = 8;
			g2.fillStyle="#606060";
			g2.fillRect(this.size, 0, this.hbar, this.size);
			g2.beginPath();
			g2.moveTo(sx, sy);
			g2.lineTo(this.size, sz);
			g2.lineTo(this.size+this.hbar, sz);
			g2.moveTo(0, sy);
			g2.lineTo(sx, sy);
			g2.lineTo(sx, this.size);
			g2.stroke();
			g2.closePath();
			g2.fillStyle = "white";
			if (sx > 125) {
				var tw = g2.measureText(lx).width;
				g2.fillText(Math.round(lx), sx-tw-3, 247);
			} else {
				g2.fillText(Math.round(lx), sx+5, 247);
			}
			if (sy > 125) {
				g2.fillText(Math.round(ly), 5, sy-4);
			} else {
				g2.fillText(Math.round(ly), 5, sy+15);
			}
		}
	},
});
var trvlApp = new Vue({
	el: "main",
	mounted: function() {
		this.$refs.tmap.draw(0,0,0);
	}
});
	  </script>
<!-- <<< main <<< -->
  </body>
</html>
