<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
<!-- >>> title >>> -->
BC+ Travel
<!-- <<< title <<< -->
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="../../s/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../s/css/th-bright.css">
    <link rel="stylesheet" type="text/css" href="../../s/css/bcp.css">
    <script src="../../s/js/vue.js"></script>
<!-- >>> style >>> -->
	<style>
main {
	overflow: hidden;
	display: grid;
	grid-template-columns: 2fr 7fr;
	grid-template-areas: "jmps trvl";
}
#jumps {
	grid-area: jmps;
	overflow-y: auto;
	padding: .5em;
}
#jumps>div {
	background-color: var(--colBkgDim);
	border-radius: .4em;
	padding: .3em .5em;
	margin-bottom: .5em;
	box-shadow: 0 0 5px var(--colFgr) inset;
}
#jumps>div:hover { color: var(--colFgrAlt); }
#travel {
	grid-area: trvl;
	overflow-y: auto;
	padding: .5em;
}
#tmap-info {
	display: inline-block;
	vertical-align: top;
}
#tmap-info th {
	font-size: 90%;
	padding: 0 .3em;
	background-color: var(--colBkg);
	text-align: left;
}
#tmap-info td {
	font-size: 90%;
	padding: 0 .4em;
}
#tmap-info td.tmima {
	color: var(--colTxtDim);
}
#tmap {
	display: inline-block;
	vertical-align: top;
	/*margin: 0 auto;*/
	border: 2px solid var(--colFgrDim);
	background-image: url("/s/img/mway.jpg");
	background-size: 250px 250px;
	background-repeat: no-repeat;
	background-color: black;
}
#speed-tbl {
	margin-top: .7em;
}
#speed-tbl td.tavg {
	text-align: center;
}
#speed-tbl td.tmima {
	text-align: center;
	font-size: 90%;
	color: var(--colTxtDim);
}
#bms h1 {
	font-size: 150%;
	margin: 0;
	margin-top: .3em;
}
#bms td { padding: 0 .3em; }
#bms td:first-child { text-align: center; }
	</style>
<!-- <<< style <<< -->
  </head>
  <body>
    <div id="vue-app">
      <header>
	<img id="hdrLgo" src="/s/img/Logo.png" alt="logo">
	<div id="hdrCmd">CMDR {{hdr.Name}}</div>
	<div id="hdrShp">{{hdr.Ship.Name}} [{{hdr.Ship.Ident}}]</div>
	<div id="hdrLoc"><span v-if="hdr.Loc.RefNm">{{hdr.Loc.RefNm}}
	    / </span>{{hdr.Loc.Sys.Name}}</div>
      </header>
      <nav>
	<div id="mbtn">
	  <span v-if="ctrl.showMenu"
		v-on:click="ctrl.showMenu=false">⨯</span>
	  <span v-else v-on:click="ctrl.showMenu=true">☰</span>
	</div>
	<div v-for="tab in tabs" :key="tab.key"
	     v-bind:class="{current: tab.key == activeTab}">
	  <span v-if="tab.key == activeTab">{{tab.title}}</span>
	  <span v-else><a :href="tab.url">{{tab.title}}</a></span>
	</div>
      </nav>
      <transition name="menu">
	<aside v-show="ctrl.showMenu">
	  <div>Settings…</div>
	  <div><a href="/s/debug/log.html" target="bcplog"
                  v-on:click="ctrl.showMenu=false">Show log…</a></div>
	  <div>Quit</div>
	</aside>
      </transition>
    </div>
    <script>
      if (!window["WebSocket"]) {
	  console.log("browser does not support web sockets");
      }
      const locRTyNm = ["?", "Deep Space", "Star", "Belt", "Planet",
			"Ring", "Station", "Outpost", "Port", "Settlement", "Jump Target"];
      const locModeNm = ["?", "Parked", "Travel", "Super Cruise", "FSD Jump"];
      const locVhclNm = ["?", "Ship", "SRV", "Fighter", "Crew Member"];
      Vue.filter('int', function(x) {
	  return x.toLocaleString('`lang\jsStr`',{
	      useGrouping: true
	  });
      });
      Vue.filter('f4', function(x) {
	  return x.toLocaleString('`lang\jsStr`',{
	      useGrouping: true,
	      minimumIntegerDigits: 1,
	      minimumFractionDigits: 4,
	      maximumFractionDigits: 4
	  });
      });
      Vue.filter('f2', function(x) {
	  return x.toLocaleString('`lang\jsStr`',{
	      useGrouping: true,
	      minimumIntegerDigits: 1,
	      minimumFractionDigits: 2,
	      maximumFractionDigits: 2
	  });
      });
      var scrnApp = new Vue({
	  el: '#vue-app',
	  data: {
	      ctrl: { showMenu: false },
	      activeTab: 'travel',
	      tabs: {
		  "key": "travel",
		  "title": "Travel",
		  "url": "/travel"
	      },
	      hdr: {
		  Name: "–",
		  Ship: {Name: "–", Ident: "–"},
		  Loc: {}
	      }
	  },
	  filters: {
	      refTy: function(v) {
		  var res = locRTyNm[v];
		  return res ? res : "("+v+")";
	      },
	      modNm: function(v) { return locModeNm[v]; },
	      vhcNm: function(v) { return locVhclNm[v]; },
	      frac: function(v) {
		  return v.toLocaleString('`lang\jsStr`');
	      }
	  },
	  methods: {
	      onMsg: function(evt) {
		  switch (evt.Cmd) {
		  case "upd":
		      if (evt.Hdr) {
			  this.hdr = evt.Hdr;
		      }
		      break;
		  }
	      }
	  }
      });
    </script>
<!-- >>> main >>> -->
	  <main>
	    <div id="jumps" @mouseleave="reLoc()">
              <div v-for="(jmp, i) in jhist" :key="i"
		   @mouseover="tmpLoc(jmp)">
		{{jmp.Name}}<br/>
		{{(new Date(jmp.Time)).toLocaleString()}}
              </div>
	    </div>
		<div id="travel">
	      <trvlmap id="tmap" ref="tmap" :size="250" :hbar="40" :data="tmap"></trvlmap>
	      <table id="tmap-info">
            <tr><th>System:</th><td colspan="3">{{tmapLoc.Name}}</td></tr>
            <tr><th>• Coordinates:</th>
			  <td class="right">{{tmap.loc.Coos[0]|f2}}</td>
			  <td class="right">{{tmap.loc.Coos[1]|f2}}</td>
			  <td class="right">{{tmap.loc.Coos[2]|f2}}</td>
            </tr>
            <tr><th>Destination:</th>
			  <td v-if="tmap.dest" colspan="3">{{tmap.dest.Name}}</td>
			  <td v-else>–</td>
			</tr>
            <tr><th>• Coordinates:</th>
			  <td v-if="tmap.dest" class="right">{{tmap.dest.Coos[0]|f2}}</td>
			  <td v-if="tmap.dest" class="right">{{tmap.dest.Coos[1]|f2}}</td>
			  <td v-if="tmap.dest" class="right">{{tmap.dest.Coos[2]|f2}}</td>
			  <td v-if="!tmap.dest">–</td>
            </tr>
            <tr><th>Distance to Dest.:</th>
			  <td v-if="tmap.dest" class="right" colspan="2">
				{{sysDist(tmap.loc.Coos, tmap.dest.Coos)|f2}}
			  </td>
			  <td v-else>–</td>
			  <td>Ly</td>
            </tr>
            <tr><th>Speed [Ly/h]:</th>
			  <td class="right tmima">{{speeds[0]|f2}}</td>
			  <td class="right">{{speeds[1]|f2}}</td>
			  <td class="right tmima">{{speeds[2]|f2}}</td>
            </tr>
            <tr><th>Travel Time [h]:</th>
			  <td v-if="tmap.dest" class="right tmima">
				{{sysDist(tmap.loc.Coos, tmap.dest.Coos)/speeds[0]|dur}}
			  </td>
			  <td v-if="tmap.dest" class="right">
				{{sysDist(tmap.loc.Coos, tmap.dest.Coos)/speeds[1]|dur}}
			  </td>
			  <td v-if="tmap.dest" class="right tmima">
				{{sysDist(tmap.loc.Coos, tmap.dest.Coos)/speeds[2]|dur}}
			  </td>
			  <td v-if="!tmap.dest">–</td>
            </tr>
	      </table>
	      <table id="speed-tbl">
            <thead>
			  <tr><th>Last Jump</th>
				<th v-for="(b, i) in cfg.jblocks" :key="i">
				  <input v-if="ammBlk[i]" type="radio" :value="i"
						 v-model.number="statsBlock">
				  {{b}} Jumps
				</th>
				<th>
				  <input v-if="jumps.length > 0" type="radio" value="-1"
						 v-model.number="statsBlock">
				  <span v-if="jumps.length > 0">{{jhist.length-1}}</span>
				  <span v-else>No</span> Jumps
				</th>
			  </tr>
            </thead>
            <tbody v-if="jumps.length > 0">
			  <tr>
				<td class="center" style="color:var(--colGud)">Length [Ly]</td>
				<td v-for="(b, i) in cfg.jblocks" :key="i" class="tmima">
				  <span v-if="ammBlk[i]">{{ammBlk[i].jMin|f2}}</span>
				  <span v-else>–</span>
				  /
				  <span v-if="ammBlk[i]">{{ammBlk[i].jMax|f2}}</span>
				  <span v-else>–</span>
				</td>          
				<td class="tmima">
				  <span v-if="ammAll">{{ammAll.jMin|f2}}</span>
				  <span v-else>–</span>
				  /
				  <span v-if="ammAll">{{ammAll.jMax|f2}}</span>
				  <span v-else>–</span>
				</td>  
			  </tr>
			  <tr>
				<td class="tavg">{{jumps[0].jl|f2}}</td>
				<td v-for="(b, i) in cfg.jblocks" :key="i" class="tavg">
				  <span v-if="ammBlk[i]">{{ammBlk[i].jAvg|f2}}</span>
				  <span v-else>–</span>
				</td>
				<td class="tavg">
				  <span v-if="ammAll">{{ammAll.jAvg|f2}}</span>
				  <span v-else>–</span>
				</td>
			  </tr>
			  <tr>
				<td class="center" style="color:var(--colGud)">Speed [Ly/h]</td>
				<td v-for="(b, i) in cfg.jblocks" :key="i" class="tmima">
				  <span v-if="ammBlk[i]">{{ammBlk[i].sMin|f2}}</span>
				  <span v-else>–</span>
				  /
				  <span v-if="ammBlk[i]">{{ammBlk[i].sMax|f2}}</span>
				  <span v-else>–</span>
				</td>          
				<td class="tmima">
				  <span v-if="ammAll">{{ammAll.sMin|f2}}</span>
				  <span v-else>–</span>
				  /
				  <span v-if="ammAll">{{ammAll.sMax|f2}}</span>
				  <span v-else>–</span>
				</td>              
			  </tr>
			  <tr>
				<td class="tavg">{{(3600/jumps[0].dt*jumps[0].jl)|f2}}</td>
				<td v-for="(b, i) in cfg.jblocks" :key="i" class="tavg">
				  <span v-if="ammBlk[i]">{{ammBlk[i].sAvg|f2}}</span>
				  <span v-else>–</span>
				</td>
				<td class="tavg">
				  <span v-if="ammAll">{{ammAll.sAvg|f2}}</span>
				  <span v-else>–</span>
				</td>
			  </tr>
			  <tr>
				<td class="center" style="color:var(--colGud)">Dist [Ly]</td>
				<td v-for="(b, i) in cfg.jblocks" :key="i" class="tmima">
				  <span v-if="ammBlk[i]">{{100*jumps[b-1].tl/(b*ammBlk[i].jAvg)|f2}} %</span>
				  <span v-else>–</span>
				</td>
				<td class="tmima"><span v-if="ammAll">
					{{100*jumps[jumps.length-1].tl/(jumps.length*ammAll.jAvg)|f2}} %
				</span></td>
			  </tr>
            </tbody>
            <tbody v-else>
			  <tr><td :colspan="2+cfg.jblocks.length"
					  style="text-align:center;color:var(--colBad)">Empty Jump History</td></tr>
            </tbody>
	      </table>
	      <div id="bms">
            <h1>Bookmarks</h1>
            <table>
			  <tr>
				<th>Dest.</th>
				<th>System</th>
				<th>Distance</th>
				<th>Coos</th>
			  </tr>
			  <tr v-for="(b, i) in bookms" :key="i">
				<td><input type="radio" :value="i" v-model.number="destbm"></td>
				<td>{{b.Name}}</td>
				<td class="right">{{sysDist(tmapLoc.Coos, b.Coos)|f2}} Ly</td>
				<td>
				  {{b.Coos[0]|f2}} / {{b.Coos[1]|f2}} / {{b.Coos[2]|f2}}
				</td>
			  </tr>
            </table>
	      </div>
		</div>
	  </main>
	  <script>
	    const theData = `data`;
	  </script>
	  <script src="/s/js/travel.js"></script>
<!-- <<< main <<< -->
</body>
</html>
