.left {	text-align: left; }
.center {	text-align: center; }
.right { text-align: right; }
.kbd img {
  height: .5em;
  vertical-align: top;
  cursor: pointer;
}
.kbd.glow { color: var(--colGud); }
.gud { color: var(--colGud); }
.bad { color: var(--colBad); }
img.picgrm {
  height: 1em;
  vertical-align: text-top;
}
details { margin-bottom: .5em; }
details > summary {
  font-weight: bold;
  background-color: var(--colBkgDim);
  padding: .2em;
}
body {
  background-color: var(--colBkg);
	font-family: sans-serif;
  color: var(--colTxt);
}
h1 { font-size: 150%; }
h2 { font-size: 116%; }
h3 { font-size: 108%; }
input {
  background-color: var(--colBkg);
  color: var(--colTxt);
  border: 1px solid var(--colFgrDim);
  padding-left: .3em;
}
select {
  background-color: var(--colBkg);
  color: var(--colTxt);
  border: 1px solid var(--colFgrDim);
}
header {
  font-size: 140%;
  font-weight: bold;
  margin-bottom: .3em;
  display: flex;
  flex-flow: row wrap;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 2px solid var(--colFgrDim);
}
nav li {
  float: left;
  display: block;
  text-align: center;
  padding: .4em 0;
  margin-left: 2px;
  margin-right: 2px;
}
nav li.current {
  background-color: var(--colFgrDim);
  color: var(--colBkg);
  padding: .4em 1em;
}
nav li:hover:not(.current) { background-color: var(--colFgr); }
nav li a {
  color: var(--colFgrDim);
  text-decoration: none;
  padding: .4em 1em;
}
nav li:hover a { color: var(--colBkg); }
