:root {
  --colBkg: black;
  --colBkgDim: #5D2900;
  --colFgr: #FF7000;
  --colFgrDim: #be5400;
  --colTxt: #FF7000;
  --colTxtDim: #D25C00;
  --colGud: #00A6EA;
  --colBad: #FD0406;
/*
  --colBkg: white;
  --colBkgDim: #DDD;
  --colFgr: black;
  --colFgrDim: grey;
  --colTxt: black;
  --colTxtDim: grey;
  --colGud: green;
  --colBad: red;
*/
}
.left {	text-align: left; }
.center {	text-align: center; }
.right { text-align: right; }
.kbd img {
  height: .5em;
  vertical-align: top;
  cursor: pointer;
}
.kbd.glow { color: var(--colGud); }
.good { color: var(--colGud); }
.bad { color: var(--colBad); }
img.picgrm {
  height: 1em;
  vertical-align: text-top;
}
body {
  background-color: var(--colBkg);
	font-family: sans-serif;
  color: var(--colTxt);
}
h1 { font-size: 150%; }
h2 { font-size: 116%; }
h3 { font-size: 108%; }
input {
  background-color: var(--colBkg);
  color: var(--colTxt);
  border: 1px solid var(--colFgrDim);
  padding-left: .3em;
}
select {
  background-color: var(--colBkg);
  color: var(--colTxt);
  border: 1px solid var(--colFgrDim);
}
header {
  font-size: 140%;
  font-weight: bold;
  margin-bottom: 1em;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 2px solid var(--colFgrDim);
}
nav li {
  float: left;
  display: block;
  text-align: center;
  padding: .4em 1em;
  margin-left: 2px;
  margin-right: 2px;
}
nav li.current {
  background-color: var(--colFgrDim);
  color: var(--colBkg);
}
nav li a {
  color: var(--colFgrDim);
  text-decoration: none;
}
nav li:hover:not(.current) { background-color: var(--colFgr); }
nav li:hover a { color: var(--colBkg); }
