<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>`title`</title>
    <link rel="shortcut icon" type="image/x-icon" href="/s/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="/s/css/th-`theme`.css">
    <link rel="stylesheet" type="text/css" href="/s/css/bcp.css">
    <script src="/s/js/vue.js"></script>
<!-- >>> style <<< -->
  </head>
  <body>
    <div id="vue-app">
      <header>
		<img id="hdrLgo" src="/s/img/Logo.png" alt="logo">
		<div id="hdrCmd">CMDR {{hdr.Name}}</div>
		<div id="hdrShp">{{hdr.Ship.Name}} [{{hdr.Ship.Ident}}]</div>
		<div id="hdrLoc"><span v-if="hdr.Loc.RefNm">{{hdr.Loc.RefNm}}
		/ </span>{{hdr.Loc.Sys.Name}}</div>
      </header>
      <nav>
	<div id="mbtn">
	  <span v-if="ctrl.showMenu"
		v-on:click="ctrl.showMenu=false">⨯</span>
	  <span v-else v-on:click="ctrl.showMenu=true">☰</span>
	</div>
	<div v-for="tab in tabs" :key="tab.key"
	     v-bind:class="{current: tab.key == activeTab}">
	  <span v-if="tab.key == activeTab">{{tab.title}}</span>
	  <span v-else><a :href="tab.url">{{tab.title}}</a></span>
	</div>
      </nav>
      <transition name="menu">
	<aside v-show="ctrl.showMenu">
	  <div>Settings…</div>
	  <div><a href="/s/debug/log.html" target="bcplog" v-on:click="ctrl.showMenu=false">Show log…</a></div>
	  <div>Quit</div>
	</aside>
      </transition>
    </div>
	<script>
if (!window["WebSocket"]) {
	console.log("browser does not support web sockets");
}
var wsurl = "wss://"+location.hostname+":"+location.port+"/ws/app";
var wsock = new WebSocket(wsurl);
var wspgmsg = [];
wsock.onmessage = function(msg) {
  console.log("Event:'"+msg.data+"'");
  var evt = JSON.parse(msg.data);
  for (var i=0; i<wspgmsg.length; i++) {
    wspgmsg[i](evt);
  }
}
console.log("connected to "+wsurl);
const locRTyNm = ["?", "Deep Space", "Star", "Belt", "Planet",
				  "Ring", "Station", "Outpost", "Port", "Settlement", "Jump Target"];
const locModeNm = ["?", "Parked", "Travel", "Super Cruise", "FSD Jump"];
const locVhclNm = ["?", "Ship", "SRV", "Fighter", "Crew Member"];
Vue.filter('int', function(x) {
    return x.toLocaleString('`lang\jsStr`',{
      useGrouping: true
    });
});
Vue.filter('f4', function(x) {
    return x.toLocaleString('`lang\jsStr`',{
      useGrouping: true,
      minimumIntegerDigits: 1,
      minimumFractionDigits: 4,
      maximumFractionDigits: 4
    });
});
Vue.filter('f2', function(x) {
    return x.toLocaleString('`lang\jsStr`',{
      useGrouping: true,
      minimumIntegerDigits: 1,
      minimumFractionDigits: 2,
      maximumFractionDigits: 2
    });
});
const hdrData = `init-hdr`;
var scrnApp = new Vue({
  el: '#vue-app',
  data: {
	  ctrl: { showMenu: false },
	  activeTab: '`active-tab\jsStr`',
	  tabs: `tabs`,
		hdr: hdrData
	},
	filters: {
	    refTy: function(v) {
			var res = locRTyNm[v];
			return res ? res : "("+v+")";
		},
		modNm: function(v) { return locModeNm[v]; },
		vhcNm: function(v) { return locVhclNm[v]; },
		frac: function(v) {
			return v.toLocaleString('`lang\jsStr`');
		}
	},
	methods: {
		onMsg: function(evt) {
			switch (evt.Cmd) {
			case "upd":
				if (evt.Hdr) {
					this.hdr.Fid = evt.Hdr.Fid;
          this.hdr.Name = evt.Hdr.Name;
          this.hdr.Loc = evt.Hdr.Loc;
          this.hdr.Ship = evt.Hdr.Ship;
				}
				break;
			} 
		}
	},
	mounted: function () {
		wspgmsg.push(this.onMsg);
		console.log("added page header callback");
	}
});
	</script>
	<!-- >>> main <<< \-->
  </body>
</html>
