<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>`title`</title>
    <link rel="shortcut icon" type="image/x-icon" href="/s/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="/s/css/th-`theme`.css">
    <link rel="stylesheet" type="text/css" href="/s/css/bcp.css">
    <script src="/s/js/vue.js"></script>
<!-- >>> style <<< -->
  </head>
  <body>
    <div id="vue-app">
      <header>
	<img id="hdrLgo" src="/s/img/Logo.png" alt="logo">
	<div id="hdrCmd">CMDR {{hdr.Name}}</div>
	<div id="hdrShp">{{hdr.Ship.Name}} [{{hdr.Ship.Ident}}]</div>
	<div id="hdrLoc" v-if="hdr.Loc">
	  <loc-str :loc="hdr.Loc"></loc-str>
	</div>
      </header>
      <nav>
	<div id="mbtn">
	  <span v-if="ctrl.showMenu"
		v-on:click="ctrl.showMenu=false">⨯</span>
	  <span v-else v-on:click="ctrl.showMenu=true">☰</span>
	</div>
	<div v-for="tab in tabs" :key="tab.Key"
	     v-bind:class="{current: tab.Key == activeTab}">
	  <span v-if="tab.Key == activeTab">{{tab.Tab}}</span>
	  <span v-else><a :href="'/'+tab.Key">{{tab.Tab}}</a></span>
	</div>
      </nav>
      <transition name="menu">
	<aside v-show="ctrl.showMenu">
	  <div>Settings…</div>
	  <div><a href="/s/debug/log.html" target="bcplog"
                  v-on:click="ctrl.showMenu=false">Show log…</a></div>
	  <div><a href="https://fractalqb.de/ed/ranks.html"
		  target="ed_ranks">Rank list ➲</a></div>
	  <div><a href="https://fractalqb.de/ed/ships.html"
		  target="ed_ships">Shiptype list ➲</a></div>
	  <div><a href="https://fractalqb.de/ed/engies.html"
		  target="ed_engies">Engineers list ➲</a></div>
	  <div>Quit</div>
	</aside>
      </transition>
    </div>
<script>
const wsurl = "wss://"+location.hostname+":"+location.port+"/ws/app";
let wsock = null;
let wsMsgCalls = [];
document.addEventListener('DOMContentLoaded', function () {
    if (!window["WebSocket"]) {
	console.log("browser does not support web sockets");
	return;
    }
    wsock = new WebSocket(wsurl);
    wsock.onopen = function(evt) {
	console.log('Event Channel Open: '+evt);
	let dataRq = JSON.stringify({
	    to: "screen",
	    key: "`active-tab\jsStr`",
	    cmd: "send-data"
	});
	console.log("request data: "+dataRq);
	wsock.send(dataRq);
    }
    wsock.onerror = function (err) {
	console.log('Event Channel Error: '+err);
    }
    wsock.onclose = function(evt) {
	console.log('Event Channel Closed: '+wsurl);
    }
    wsock.onmessage = function(msg) {
	console.log("Event:'"+msg.data+"'");
	var evt = JSON.parse(msg.data);
	for (let i=0; i<wsMsgCalls.length; i++) {
	    wsMsgCalls[i](evt);
	}
    }
    console.log("web socket connected to "+wsock.url);
});
	  
function apiGetJSON(url, callback) {
    let rq = new XMLHttpRequest();
    rq.open("GET", url);
    rq.setRequestHeader("Accept", "application/json");
    rq.addEventListener('load', function(evt) {
	if (rq.status >= 200 && rq.status < 300) {
	    console.log("OK from "+url);
		} else {
			console.warn(rq.statusText, rq.responseText);
		    return;
		}
	var ppl = JSON.parse(rq.responseText);
	callback(ppl);
    });
    rq.send();
}

const locRTyNm = ["?", "Deep Space", "Star", "Belt", "Planet",
		  "Ring", "Station", "Outpost", "Port", "Settlement",
		  "Jump Target"];
const locModeNm = ["?", "Parked", "Travel", "Super Cruise", "FSD Jump"];
const locVhclNm = ["?", "Ship", "SRV", "Fighter", "Crew Member"];
Vue.filter('int', function(x) {
    return x.toLocaleString('`lang\jsStr`',{
      useGrouping: true
    });
});
Vue.filter('f4', function(x) {
	if (!x) { return "–"; }
    return x.toLocaleString('`lang\jsStr`',{
      useGrouping: true,
      minimumIntegerDigits: 1,
      minimumFractionDigits: 4,
      maximumFractionDigits: 4
    });
});
Vue.filter('f2', function(x) {
	if (!x) { return "–"; }
    return x.toLocaleString('`lang\jsStr`',{
      useGrouping: true,
      minimumIntegerDigits: 1,
      minimumFractionDigits: 2,
      maximumFractionDigits: 2
    });
});
Vue.filter('f0', function(x) {
	return Math.round(x);
});		  
Vue.filter('dur', function(d) {
	if (!d) { return "–"; }
	let m = Math.round(60*d);
	let h = Math.floor(m/60);
	m = m % 60;
	d = Math.floor(h/24);
	h = h % 24;
	if (d > 0) {
		return d+"d "+h+":"+m;
	}
	return h+":"+m;
});
const hdrData = {
    Name: "<anonymous>",
    Loc: {
	Sys: {Name: "<system>", Coos: []},
	RefNm: "<ref>"
    },
    Ship: {
	Ident: "–",
	Name: "–",
    }
};
Vue.component('loc-str', {
	props: ['loc'],
	template: '<span v-if="loc[\'@type\']==\'system\'">\
                 System: {{loc.Name}} [{{loc.Coos[0]|f2}} /\
                                       {{loc.Coos[1]|f2}} /\
                                       {{loc.Coos[2]|f2}}]\
               </span>\
               <span v-else>\
                 Unknown location type: <em>{{loc[\'@type\']}}</em>\
               </span>'
});
const scrnApp = new Vue({
  el: '#vue-app',
  data: {
      ctrl: { showMenu: false },
      activeTab: '`active-tab`',
      tabs: `screen-tabs`,
      hdr: hdrData
  },
    filters: {
	refTy: function(v) {
	    var res = locRTyNm[v];
	    return res ? res : "("+v+")";
	},
	modNm: function(v) { return locModeNm[v]; },
	vhcNm: function(v) { return locVhclNm[v]; },
	frac: function(v) {
	    return v.toLocaleString('`lang\jsStr`');
	}
    },
    methods: {
	onMsg: function(evt) {
	    switch (evt.Cmd) {
	    case "upd":
		if (evt.Hdr) {
		    this.hdr.Fid = evt.Hdr.Fid;
		    this.hdr.Name = evt.Hdr.Name;
		    this.hdr.Loc = evt.Hdr.Loc;
		    this.hdr.Ship = evt.Hdr.Ship;
		}
		break;
	    } 
	}
    },
    mounted: function () {
	wsMsgCalls.push(this.onMsg);
	console.log("added page header callback");
    }
});
</script>
<!-- >>> main <<< \-->
  </body>
</html>
