<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BC+ &lt;version&gt;: System Population</title>
    <link rel="icon" href="s/img/logo.ico">
    <link rel="stylesheet" href="s/css/bcp.css">
    <script src="s/js/bcp.js"></script>
    <script src="s/js/vue.js"></script>
    <!-- >>> head >>> -->
        <style>
main th { text-align: left; }
main td {
  background-color: var(--colBkgDim);
  padding-left: .4em;
  padding-right: .4em;
}
        </style>

    <!-- <<< head <<< -->
  </head>
  <body>
    <template>
<!-- >>> title >>> -->
Missions
<!-- <<< title <<< -->
<!-- >>> nav-name >>> -->
Missions
<!-- <<< nav-name <<< -->
    </template>
    <header style="display:block;" class="center">
      CMDR Jameson ∙ Cobra MkIII "Home & Glory" JJ-CM3 ∙ <span class="kbd">Galam</span>
      <span style="color:var(--colTxtDim)" v-if="home">⤚231.8→
      <img class="picgrm" src="s/img/Home.png" alt="Home"> Lave</span>
 	  </header>
    <nav>
      <ul>
        <li><a href="#">System</a></li>
        <li class="current">Population</li>
        <li><a href="#">Travel</a></li>
        <li style="float:right"><a href="#"><img class="picgrm" src="s/img/Menu.png" alt="Settiings"></a></li>
      </ul>
    </nav>
 	  <main>
<!-- >>> main >>> -->
      <table id="missions">
        <tr><th>Title</th><th>Destination</th><th>Faction</th><th>Rep</th></tr>
        <tr v-for="(dst, key) in topic.Dests">
          <td>{{dst.Title}}</td>
          <td><kbd-send v-bind:text="dst.DstSys"></kbd-send></td>
          <td>{{dst.Faction}}</td>
          <td class="center">{{dst.Rep}}</td>
        </tr>
        <tr style="font-weight:bold">
          <td class="right">Travel Distance:</td>
          <td>{{topic.Dist | toDist}} Ly</td>
          <td colspan="2"/>
        </tr>
      </table>
<!-- <<< main <<< -->
<!-- >>> script >>> -->
      <script>
var missonsApp = new Vue({
  el: '#missions',
  data: store.state
});
      </script>
<!-- <<< script <<< -->
    </main>
  </body>
</html>
