<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BC+ `version`: Settings</title>
	  <link rel="icon" href="s/img/logo.ico">
    <link rel="stylesheet" href="s/css/bcp.css">
    <style>
div#eddn div { display: inline-block; }
h2 {
  margin-top: 1em;
  margin-bottom: .5em;
  border-bottom: 1px solid var(--colFgr);
}
    </style>
    <script src="s/js/vue.js"></script>
  </head>
  <body>
    <h1>Settings</h1>
    <div id="logging">
      <h2>Logging</h2>
      <label>Level: <select v-model.lazy="level" v-on:change="send">
        <option value="info">Info</option>
        <option value="debg">Debug</option>
        <option value="trce">Trace</option>
      </select></label>
    </div>
    <div id="eddn">
      <h2>EDDN</h2>
      <label>Mode: <select v-model.lazy="mode" v-on:change="send">
        <option value="off">Off</option>
        <option value="anon">Anonymous</option>
        <option value="obfsc">Ofuscated</option>
        <option value="cmdr">Commander</option>
        <option value="test">Test</option>
      </select></label>
      <div v-if="mode === 'off'">
        Do not send any data to EDDN.
      </div>
      <div v-if="mode === 'anon'">
        Send events to EDDN as 'anonymous' uploader.
      </div>
      <div v-if="mode === 'obfsc'">
        Send events to EDDN with an uploader that is unique for your current
        commander but that is otherwise unrelated.
      </div>
      <div v-if="mode === 'cmdr'">
        Send events to EDDN with your commander name as uploader.
      </div>
      <div v-if="mode === 'test'">
        Send events to EDDN test schema with obfuscated commander.
      </div>
    </div>
    <script>
var logging = new Vue({
  el: "#logging",
  data: {
    level: "debg" // contains <option value…
  },
  methods: {
    send: function() {
      var rq = {cmd: "settings", item: ['log', 'level'], value: this.level};
      wsock.send(JSON.stringify(rq));
    }
  }
});
var eddn = new Vue({
  el: "#eddn",
  data: {
    mode: "off"
  },
  methods: {
    send: function() {
      var rq = {cmd: "settings", item: ['eddn', 'mode'], value: this.mode};
      wsock.send(JSON.stringify(rq));
    }
  }
});
    </script>
  </body>
</html>
