<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BC+ &lt;version&gt;: System Population</title>
    <link rel="icon" href="s/img/logo.ico">
    <link rel="stylesheet" href="s/css/bcp.css">
    <style>
details > summary { font-weight: bold; }
details th {
  color: var(--colTxtDim);
  vertical-align: top;
}
    </style>
    <script src="s/js/bcp.js"></script>
    <script src="s/js/vue.js"></script>
  </head>
  <body>
    <template>
<!-- >>> title >>> -->
Synthesis Planning
<!-- <<< title <<< -->
<!-- >>> nav-name >>> -->
Synthesis
<!-- <<< nav-name <<< -->
    </template>
    <header style="display:block;" class="center">
      CMDR Jameson ∙ Cobra MkIII "Home & Glory" JJ-CM3 ∙ <span class="kbd">Galam</span>
      <span style="color:var(--colTxtDim)" v-if="home">⤚231.8→
      <img class="picgrm" src="s/img/Home.png" alt="Home"> Lave</span>
 	  </header>
    <nav>
      <ul>
        <li><a href="#">System</a></li>
        <li class="current">Synthesis</li>
        <li><a href="#">Travel</a></li>
        <li style="float:right"><a href="#"><img class="picgrm" src="s/img/Menu.png" alt="Settiings"></a></li>
      </ul>
    </nav>
 	  <main>
<!-- >>> main >>> -->
      <div id="recipes">
        <recipe v-for="recipe in topic.Recipes" :key="recipe.Name"
                v-bind:data="recipe"
                v-bind:stock="topic.Stock"/>
      </div>
      <script>
var store = {
  state: {
    hdr: `header-data`,
    topic: {
      Stock: {
        "Chromium": 18, "Vanadium": 11
      },
      Recipes: [
        {
          Name: "AFM Refill",
          Mats: ["Chromium", "Manganese", "Molybednium", "Nickel", "Ruthenium",
                 "Tellurium", "Tin", "Vanadium", "Zinc", "Zirconium"],
          Levels: [
            {
              Effect: "–",
              Demand: 1,
              Need: [2, 0, 0, 2, 0, 0, 0, 3, 2, 0]
            },
            {
              Effect: "+50% Repaid Speed",
              Demand: 2,
              Need: [0, 2, 1, 0, 0, 0, 1, 6, 0, 1]
            },
            {
              Effect: "+100% Repaid Speed",
              Demand: 0,
              Need: [4, 0, 0, 0, 1, 1, 0, 6, 2, 2]
            }
          ]
        }
      ]
    } // topic
  }
};

Vue.component('rcplvl', {
  props: ['title', "lvl", 'stock', 'mats'],
  template: '<tr><td>{{title}}</td>\
                 <td class="center">\
                   <input type="number" v-model="lvl.Demand" min="0" style="width:3em">\
                 </td>\
                 <td>{{lvl.Effect}}</td>\
               <td v-for="(mat, idx) in lvl.Need"\
                   v-bind:class="{good: isGood(lvl.Demand, idx, mat),\
                                  bad: isBad(lvl.Demand, idx, mat)}">\
               <span v-if="mat&gt;0"><span v-if="lvl.Demand&gt;0">{{lvl.Demand * mat}}\
               (</span>{{mat}}<small style="color:var(--colTxtDim)">/Unit</small><span v-if="lvl.Demand&gt;0">)</span></span>\
               </td>\
             </tr>',
   methods: {
     isGood: function(demand, idx, mat) {
       if (demand <= 0) { return false; }
       var stock = this.stock[this.mats[idx]];
       return stock ? stock >= demand * mat : false;
     },
     isBad: function(demand, idx, mat) {
       if (demand <= 0) { return false; }
       var stock = this.stock[this.mats[idx]];
       return stock ? stock < demand * mat : true;
     }
   }
});

Vue.component('recipe', {
  props: ['stock', 'data'],
  template: '<details>\
               <summary>\
                 {{data.Name}} Demand: Basic {{data.Levels[0].Demand}} \
                              ∙ Standard {{data.Levels[1].Demand}} \
                              ∙ Premium {{data.Levels[2].Demand}} \
               </summary>\
               <table style="width:100%">\
                 <tr><th>Quality</th><th>Demand</th><th>Effect</th>\
                     <th v-for="mat in data.Mats">{{mat}}<br>\
                     <span v-if="stock[mat]&gt;0">{{stock[mat]}}</span>\
                     <span v-else>0</span></th>\
                 </tr>\
                 <rcplvl title="Basic"\
                         v-bind:lvl="data.Levels[0]"\
                         v-bind:stock="stock"\
                         v-bind:mats="data.Mats"/>\
                 <rcplvl title="Standard"\
                         v-bind:lvl="data.Levels[1]"\
                         v-bind:stock="stock"\
                         v-bind:mats="data.Mats"/>\
                 <rcplvl title="Premium"\
                         v-bind:lvl="data.Levels[2]"\
                         v-bind:stock="stock"\
                         v-bind:mats="data.Mats"/>\
               </table>\
             </details>'
});

var synth = new Vue({
  el: '#recipes',
  data: store.state
});
      </script>
<!-- <<< main <<< -->
    </main>
  </body>
</html>
