:root {
  --colBkg: white;
  --colBkgDim: #EEE;
  --colBkgTh: #CCC;
  --colFgr: black;
  --colFgrDim: grey;
  --colFgrAlt: #ddd;
  --colTxt: black;
  --colTxtDim: grey;
  --colGud: green;
  --colBad: red;
}
