:root {
  --colBkg: black;
  --colBkgDim: #411D00;
  --colFgr: #FF7000;
  --colFgrDim: #be5400;
  --colFgrAlt: white;
  --colTxt: #FF7000;
  --colTxtDim: #D25C00;
  --colGud: #00A6EA;
  --colBad: #FD0406;
}
