<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel</title>
    <link rel="shortcut icon" type="image/x-icon" href="s/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="s/css/th-bright.css">
    <link rel="stylesheet" type="text/css" href="s/css/bcp.css">
    <script src="s/js/vue.js"></script>
	<style>
		#jumps {
			float: left;
			padding: 0 .5em;
		}
		#jumps>div {
			border-radius: .4em;
			padding: .3em .5em;
			margin-bottom: .5em;
			box-shadow: 0 0 5px gray;
		}
	  canvas {
		  background-image: url("s/img/trvlmap.jpeg");
		  background-size: 250px 250px;
		  background-repeat: no-repeat;
		  background-color: black;
	  }
	</style>
  </head>
  <body>
  	<main>
  		<div id="jumps">
  			<div v-for="(jump, i) in jumps" :key="i">
  				<span v-if="jumps[i+1]">{{Math.round(dist(jumps[i+1].Coos,jump.Coos))}} Ly → </span>
  				{{jump.SysNm}}
  				<br/>{{new Date(jump.Arrive).toLocaleString()}}
  			</div>
  		</div>
		<canvas id="map" width="540" height="250"></canvas>
		<div id="bms">
			<h1>Bookmarks {{maxJump}}</h1>
			<table>
				<tr>
					<th>Dest</th>
					<th>Name</th>
					<th>Mark</th>
					<th>Distance</th>
					<th>X</th><th>Y</th><th>Z</th>
				</tr>
				<tr v-for="sys in Bookmarks.Systems" :key="sys.Addr">
					<td><input type="radio" :id="'bm'+sys.Addr" name="bmsys"></td>
					<td>{{sys.SysNm}}</td>
					<td><input type="checkbox"></td>
					<td></td>
					<td>{{sys.Coos[0]}}</td><td>{{sys.Coos[1]}}</td><td>{{sys.Coos[2]}}</td>
				</tr>
			</table>
		</div>
	</main>
	<script>
var trvlApp = new Vue({
	el: 'main',
	data: {
		jumps: [
			{SysNm: "Sol", Arrive: "2020-01-30T20:00:00", Coos: [0,0,0]},
			{SysNm: "Achenar", Arrive: "2020-01-30T20:00:00", Coos: [10,0,60]},
			{SysNm: "Tiapalan", Arrive: "2020-01-30T20:00:00", Coos: [20,0,50]},
			{SysNm: "Alioth", Arrive: "2020-01-30T20:00:00", Coos: [30,66,40]},
			{SysNm: "Lave", Arrive: "2020-01-30T20:00:00", Coos: [40,0,30]},
			{SysNm: "Maia", Arrive: "2020-01-30T20:00:00", Coos: [50,0,20]},
			{SysNm: "Colonia", Arrive: "2020-01-30T20:00:00", Coos: [60,0,10]}
		],
		Bookmarks: {
			Systems: [
				{Addr: 47, SysNm: "Sol", Coos: [0,0,0]},
				{Addr: 11, SysNm: "Tiapalan", Coos: [10,20,30]}
			]
		}
	},
	computed: {
		maxJump: function () {
			if (this.jumps.length < 2) { return 0; }
			let max = this.dist(this.jumps[0].Coos, this.jumps[1].Coos);
			for (let i=2; i < this.jumps.length; i++) {
				let d = this.dist(this.jumps[i-1].Coos, this.jumps[i].Coos);
				if (d > max) { max = d; }
			}
			return max;
		}
	},
	methods: {
		dist: function (p, q) {
			let px = p[0]-q[0], py = p[1]-q[1], pz = p[2]-q[2];
			return Math.sqrt(px*px+py*py+pz*pz);
		}
	}
});		
	  var map = document.getElementById("map");
	  var g2 = map.getContext("2d");
	  var px = 0, py = 25000, pz = 200;
	  //var px = -1111, py = 65269, pz = 134; // beagle point
	  //var px = -9530.5, py = 19808.125, pz = -910.28; // colonia
	  const scale = 50000;
	  var sx = 125+(125/scale)*px;
	  var sy = 189.5-(125/scale)*py;
	  var sz = 125-(125/3500)*pz;
	  g2.font="14px Arial";
	  g2.strokeStyle = "#ff8800";
	  g2.fillStyle = "#606060";
	  g2.fillRect(250, 0, 40, 250);
	  g2.moveTo(250, 125);
	  g2.lineTo(290, 125);
	  g2.stroke();
	  g2.shadowColor = "black";
	  g2.shadowBlur = 8;
	  g2.moveTo(255, sz);
	  g2.lineTo(250, sz);
	  g2.lineTo(sx, sy);
	  g2.stroke();
	  g2.moveTo(0, sy);
	  g2.lineTo(sx, sy);
	  g2.lineTo(sx, 250);
	  g2.stroke();
	  g2.shadowColor = 0;
	  if (pz > 0) { g2.fillStyle = "#55ff55"; }
	  else if (pz < 0) { g2.fillStyle = "#ff5555"; }
	  else { g2.fillStyle = "#aaaaff"; }
	  if (sz < 14) {
		  g2.fillText(Math.round(Math.abs(pz)), 256, 14);
	  } else if (sz > 240) {
		  g2.fillText(Math.round(Math.abs(pz)), 256, 246);
	  } else {
		  g2.fillText(Math.round(Math.abs(pz)), 256, sz+5);
	  }
	  g2.fillStyle = "white";
	  if (sx > 125) {
		  var tw = g2.measureText(px).width;
		  g2.fillText(Math.round(px), sx-tw-3, 247);
	  } else {
		  g2.fillText(Math.round(px), sx+5, 247);
	  }
	  if (sy > 125) {
		  g2.fillText(Math.round(py), 5, sy-4);
	  } else {
		  g2.fillText(Math.round(py), 5, sy+15);
	  }
	</script>
  </body>
</html>
