:root {
   --colBkg: #000;
	--colFrg: #ff7000;
	--colSec: #CC5A00;
	--colGood: #00a6ea;
	--colBad: #FD0406;
	--tblOdd: #522400;
	--tblEvn: #2f1500;
	--navBtn: #0080FF;
/*	--colBkg: #eee;
	--colFrg: #000;
	--colSec: #555;
	--colGood: #070;
	--colBad: #700;
	--tblOdd: #ccc;
	--tblEvn: #ddd;
	--navBtn: #888;*/
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
body {
	color: var(--colFrg);
	background-color: var(--colBkg);
	font-family: sans-serif;
	margin: .2em;
}
input {
	color: var(--colFgr);
	background-color: var(--colBkg);
	border: 1px solid var(--colSec);	
}
input[type=number] {
	text-align: center;
}
img.inlico { height: 1em; }
img.btn { cursor: pointer; }
select {
	color: var(--colFrg);
	background-color: var(--tblOdd);
	border-style: none;
   -moz-appearance: none;
   -webkit-appearance: none;
	appearance: none;
	border-top-left-radius: .4em;
	border-top-right-radius: .4em;
	border-bottom: 1px dashed var(--colFrg); 
}
header {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	/*grid-gap: .2em;*/
	background-color: var(--tblEvn);
	border: 1px solid var(--colBkg);
	/*grid-template-rows: 1fr 1fr;*/
}
header { font-weight: bold; }
header p { margin: 0; }
header img.logo { max-height: 2em; max-width: 2.5em; margin-right: 0.5em; }
header #base {
	border: 1px solid var(--colBkg);
	padding: .1em .3em .1em .3em;
 	grid-column: 1;
  	grid-row: 1 / span 4;
}
header div.rank {
	display: flex;
	flex-direction: row;
	align-items: center;
	grid-row: span 2;
	border: 1px solid var(--colBkg);
	padding: .1em .3em .1em .3em;
}
header div.locinfo {
	grid-column: span 2;
	grid-row: span 2;
	display: flex;
	flex-direction: row;
	border: 1px solid var(--colBkg);
	padding: .1em .3em .1em .3em;
}
nav {
	display: block;
	margin-top: .2em;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  float: left;
}
nav a {
	display: block;
	padding: 8px;
	margin: 0px 2px;
	color: var(--colBkg);
	background-color: var(--navBtn);
	box-shadow: 0 0 6px 0px black inset;
	font-weight: bolder;
	text-decoration: none;
  	border-radius: 3px;
}
nav a.active {
	box-shadow: none;
}
nav a:hover {
	background-color: var(--colGood);	
	/*box-shadow: 0 0 20px var(--colFrg);*/
}
footer {
	position: fixed;
  	bottom: 0px;
  	width: 100%;
  	margin: 0;
  	padding-top: 0.2em; 
  	padding-bottom: 0.2em;
  	padding-left: 0.5em;
  	padding-right: 0.5em;
	color: var(--colFrg);
  	background-color: var(--tblOdd);
  	box-shadow: 0 0 5px black;
}
main {
	clear: both;
	margin-bottom: 2em;
}
main h1 {
	color: var(--colGood);	
	font-size: 110%;
	margin-bottom: .2em;
}
main a {
	color: var(--colFgr);
	text-decoration: none;
}
main a:hover {
	text-decoration: underline;
}
main table caption {
	color: var(--colGood);
	font-weight: bold;
	text-align: left;
}
main table th {
	color: var(--colBkg);
	background-color: var(--colFrg);
	padding-left: .3em;
	padding-right: .3em;
}
main table td {
	padding-left: .3em;
	padding-right: .3em;
}
main tr:nth-of-type(odd) {
	background-color: var(--tblOdd);
}
main tr:nth-of-type(even) {
	background-color: var(--tblEvn);
}